fakeredis
python-dotenv
flask
flask-cors
flask-sqlalchemy
sqlalchemy
alembic
bcrypt
PyJWT
redis
requests
langchain
langchain-ollama
langchain-chroma
langchain-core
langchain-community
chromadb
rank-bm25
python-json-logger
