
@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    background: black;
}

.logo h1 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    animation: fadeIn 2s ease; 
    opacity: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    animation: fadeIn 2s ease; 
}

nav ul li a:hover {
    border-bottom: 2px solid blueviolet;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.hero h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    animation: fadeIn 2s ease; 
}

.hero h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    animation: fadeIn 2.5s ease; 
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    animation: fadeIn 3s ease; 
}

.hero .explore-more {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    animation: fadeIn 3.5s ease;
}

.hero .explore-more:hover {
    background-color: #f8f8f8;
}
