body,html{
	height: 100%;
	margin: 0;
	background:  rgb(85,85,85);
}

.chat{
	margin-top: auto;
	margin-bottom: auto;
}
.card{
	height: 500px;
	border-radius: 15px !important;
	background-color: rgba(0,0,0,0.4) !important;
}
.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.container{
	align-content: center;
}
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.search:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	overflow-y: auto;
}
	.type_msg:focus{
	 box-shadow:none !important;
   outline:0px !important;
	}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
.active{
	background-color: rgba(0,0,0,0.3);
}
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: white;
}
.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}

@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
    background: black;
}

.logo h1 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    animation: fadeIn 2s ease; 
    opacity: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    animation: fadeIn 2s ease; 
}

nav ul li a:hover {
    border-bottom: 2px solid blueviolet;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    color: white;
}

.hero h2 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    animation: fadeIn 2s ease; 
}

.hero h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    animation: fadeIn 2.5s ease; 
}

.hero p {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    animation: fadeIn 3s ease; 
}

.hero .explore-more {
    font-size: 18px;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #333;
    border: none;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    animation: fadeIn 3.5s ease;
}

.hero .explore-more:hover {
    background-color: #f8f8f8;
}
