<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<!DOCTYPE html>
<html>
	<head>
		<title>Chatbot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../static/css/ChatBot.css"/>
	</head>
	
	
	<body>
		<div class="navbar">
			<div class="logo">
				<h1>Open Health</h1>
			</div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="#about">About Us</a></li>
					<li><a href="/features">Services</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/login">Sign Up</a></li>
					<li><a href="/ChatBot">Medical ChatBot</a></li>
				</ul>
			</nav>
		</div>
		<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">		
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="../static/doctor.png" rounded-circle user_img style="background-color: rgb(156, 156, 232);" width="50" height="50">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Medicial Assistant</span>
									<p>Ask me anything!</p>
								</div>
							</div>
						</div>
						<div id="messageFormeight" class="card-body msg_card_body">
							{% for q,r in data%}
								<p style="color: aliceblue">{{q}}</p>
								{% for i in r %}
								<p style="color: aliceblue">{{i}}</p>
								{% endfor %}
							{% endfor %}
							
						</div>
						<div class="card-footer">
							<form id="messageArea" action="/ChatBot" method="post">
                                <input type="text" id="text" name="prompt" placeholder="Type your message..." class="form-control type_msg"/>
								<button type="submit">voice</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
</html>
