<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/feature.css">
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <h1>Open Health</h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#/features">Services</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/login">Sign Up</a></li>
                <li><a href="/ChatBot">Medical ChatBot</a></li>
            </ul>
        </nav>
    </div>
    <div class="card-container">
        <!-- Card 1 for Lung Cancer -->
        <div class="card">
            <img src="https://images.unsplash.com/photo-1581595219145-01060b2eb27d?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Lung Cancer">
            <div class="card-content">
                <h3>Lung Cancer</h3>
                <p>Lung cancer is a malignant tumor that starts in the cells of the lung, often associated with smoking but can also occur in non-smokers, leading to symptoms such as persistent cough, and difficulty breathing.</p>
                <a href='/lung'class="btn">Try It</a>
            </div>
        </div>
        <!-- Card 2 for Breast Cancer -->
        <div class="card">
            <img src="https://images.unsplash.com/photo-1598885159329-9377168ac375?q=80&w=2073&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Breast Cancer">
            <div class="card-content">
                <h3>Breast Cancer</h3>
                <p>Breast cancer is a malignant tumor that develops in the breast tissue, often forming as a lump and capable of spreading to other parts of the body if not detected and treated early.</p>
                <a href="#" class="btn">Try It</a>
            </div>
        </div>
        <!-- Card 3 for Brain Tumor -->
        <div class="card">
            <img src="https://images.moneycontrol.com/static-mcnews/2023/04/How-to-manage-diabetes-and-blood-sugar-levels-2.jpg?impolicy=website&width=1600&height=900" alt="Brain Tumor">
            <div class="card-content">
                <h3>Diabetes</h3>
                <p> Diabetes is a chronic condition characterized by high levels of sugar, either due to inadequate insulin production or the body's inability to use insulin effectively.</p>
                <a href="/diabetes" class="btn">Try It</a>
            </div>
        </div>
        <div class="card">
            <img src="../static/test_images/brain_tumor_1.png" alt="Brain Tumor">
            <div class="card-content">
                <h3>Brain Tumor</h3>
                <p>A brain tumor is an abnormal growth of cells within the brain or the skull, which can cause various neurological symptoms depending on its location and size.</p>
                <a href="/brainTumor" class="btn">Try It</a>
            </div>
        </div>
</body>
</html>
