<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor's Anatomy</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/land.css">
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <h1>Open Health</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="#signup">Sign Up</a></li>
                </ul>
            </nav>
        </div>
        <div class="hero">
            <h2>Expert Medical Insights</h2>
            <h3>Enhance Your Practice with AI</h3>
            <p>Empowering doctors with AI-driven second opinions.</p>
            <button class="explore-more">Explore More</button>
        </div>
    </header>
    <script src="script.js"></script>
</body>
</html>
