<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Lung Cancer Evaluation Form</title>
<link rel="stylesheet" href="../static/css/lung.css">
</head>
<body>
<div class="navbar">
        <a href="/">Home</a>
        <a href="#about">About Us</a>
        <a href="/features">Services</a>
        <a href="/login">Login</a>
        <a href="/login">Sign Up</a>
</div>
<div class="container">
    <h1>Lung Cancer Evaluation</h1>
    <form id="lungCancerForm" action="/lung" method="POST">
        <div class="form-group">
            <label for="yellow_fingers">Yellow Fingers</label>
            <select name="yellow_fingers" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="anxiety">Anxiety</label>
            <select name="anxiety" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="peer_pressure">Peer Pressure</label>
            <select name="peer_pressure" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="chronic_disease">Chronic Disease</label>
            <select name="chronic_disease" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fatigue">Fatigue</label>
            <select name="fatigue" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="allergy">Allergy</label>
            <select name="allergy" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="wheezing">Wheezing</label>
            <select name="wheezing" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="alcohol_consuming">Alcohol Consuming</label>
            <select name="alcohol_consuming" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="coughing">Coughing</label>
            <select name="coughing" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="swallowing_difficulty">Swallowing Difficulty</label>
            <select name="swallowing_difficulty" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <label for="chest_pain">Chest Pain</label>
            <select name="chest_pain" class="form-control">
                <option value="no">No</option>
                <option value="yes">Yes</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn-submit">Submit</button>
        </div>
    </form>
    
    <input type="checkbox" class="trigger" id="modalTrigger" {% if data!="100" %} checked {% endif %}>
    
    <!-- The Modal -->
    {% if data!=100 %}
    <div class="modal">
      <!-- Modal content -->
      <div class="modal-content" style="text-align:center">
        <a href="/lung"><span class="close">&times;
            
        </span>
    </a>
        {% if data == 1 %}
          <p ><strong>Dignosis: Positive</strong></p>
        {% elif data == 0 %}
          <p ><strong>Dignosis: Negataive</strong></p>
        {% endif %}
      </div>
    </div>

    {% endif %}


</body>
</html>